<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2024 la_rrp
  License: AFL 3.0 - https://opensource.org/licenses/AFL-3.0
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <file>la_rrp.php</file>
        </include>
    </source>

</phpunit>
